@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  background: no-repeat center fixed;
  margin: 0;
  margin-bottom: 40px; }

#maintrabajos {
  height: 100vh; }

#listaedu {
  height: 100vh; }

/*vavbar*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav > .nav-link {
  color: white; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../imagenes/menuu.png) !important;
  color: #fff; }

/*galeria*/
.img:hover {
  transform: scale(1.1);
  transition: all 1s; }

/*footer*/
footer.nb-footer {
  background-color: #212529;
  border-top: 4px solid #b78c33;
  position: bottom; }

footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center; }

footer.nb-footer {
  font-size: 13px;
  color: #999;
  margin-top: 30px; }

footer.nb-footer .social-media {
  margin-top: 15px; }

footer.nb-footer .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3); }

footer.nb-footer .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33; }

footer.nb-footer {
  margin-top: 30px; }

footer.nb-footer .copyright {
  margin-top: 15px;
  padding: 7px 0;
  color: #999; }

.container11 {
  justify-content: center;
  margin-top: 50px; }
  .container11 .instagram-media {
    margin-bottom: 15px;
    padding: 10px; }

.about img {
  float: inherit;
  padding: 0;
  margin: 0;
  width: 104px;
  height: 74px; }

 .img-responsive{
   display: flex;
   text-align: left;
 }
 
.about img p {
  text-align: center; }

.img-fluid {
  max-width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.about li a {
  text-align: center; }
