body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background:no-repeat center fixed;
    
    margin: 0;
    margin-bottom: 40px;
  }
 
  //trabajos//

  #maintrabajos{
    height: 100vh;
  }


 //estudios//
 #listaedu{
    height: 100vh;
}

