body {
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    background-color: #f1f1f1;

    
    margin: 0;
    margin-bottom: 40px;
  }
 


//contactos//
.mapa-contactos{
  justify-content: center;
}

.buffalowood h1{
  display: flex;  
  font-family: 'Hubballi' !important;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif ;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  }


.buff{
  @extend .hnegro;
  
}


.ml9 {
  position: relative;
  text-align: center;
  color: #f1f1f1;
  background-image: url(../imagenes/fondoindex.jpg);
  font-weight: 200;
  font-size: 4em;
  font-family: 'Hubballi';
  

}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
